polkit.addRule(function(action, subject) {
    if (action.id.indexOf("com.feralinteractive.GameMode") === 0 &&
        subject.user === "mango") {
        return polkit.Result.YES;
    }
});
